# === Backend ===
backend/app/venv/
backend/app/__pycache__/
backend/app/**/*.pyc
backend/app/models/*.h5

# === Frontend ===
frontend/node_modules/
frontend/dist/
frontend/.vite/

# === Sistema y configuración ===
.DS_Store
.env
*.log
__pycache__/
*.sqlite3

# === VSCode y entorno ===
.vscode/
.idea/
